<div class="banner-index">
  </div>
<div class="container">


  <h2 class="jumbotron text-center">Browse our user submitted cocktails or submit your own!</h2>
  <div class="row justify-content-center">
    <% @cocktails.each do |ct| %>
      <div class="card m-2" style="width: 18rem;">
        <%= cl_image_tag( ct.photo , :height => 200) %>
        <div class="card-body">
          <h5><%= link_to ct.name, cocktail_path(ct.name.downcase.parameterize)  %></h5>
          <p><%= truncate(ct.description, :length => 100) %></p>
        </div>
      </div>
    <%  %>
  <% end %>
  </div>
</div>

