body {
  font-family: 'Fauna One', serif;
  font-size: 14px;
  background-color:black;
}
.banner-index h1 {
  color: #ffffff;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  font-family: 'Special Elite';
  font-size: 3.5em;
}

.banner-index h2 {
  color: #ffffffb0;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 1.8em;
  padding: 15px;
}

.banner-index {
  background-image: linear-gradient(rgba(13, -11, 18, 0.3), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/deyw9z6tu/image/upload/v1558686619/Epicurean-Bar_iakm63.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  justify-content: center;
}

.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card {
  width: 10rem;
  border: 1px solid black;
  box-shadow: 4px 4px #ffffff61;
  border-radius: 15px;
}


.banner {
  background-image: -webkit-linear-gradient(rgba(13, -11, 18, 0.3), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/deyw9z6tu/image/upload/v1558668973/cocktail1_lgqzob.jpg');
  background-image: -o-linear-gradient(rgba(13, -11, 18, 0.3), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/deyw9z6tu/image/upload/v1558668973/cocktail1_lgqzob.jpg');
  background-image: linear-gradient(rgba(13, -11, 18, 0.3), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/deyw9z6tu/image/upload/v1558668973/cocktail1_lgqzob.jpg');
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 29%;
}

h5 {
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  margin-bottom: 16px;
}

.icons {
  font-size: 1.5em;
}

.banner h1 {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

.fa-trash {
  color: #631d0f;
}

.btn-ingredient {
  background-color: #754a4a9c;
  border-radius: 5px;
}



.navbar-brand {
  font-family: 'Special Elite', cursive;
}
