/* Coolors Exported Palette - coolors.co/550c18-177e89-084c61-db3a34-ffc857 */

// /* HSL */
// $color1: hsla(350%, 75%, 19%, 1);
// $color2: hsla(186%, 71%, 31%, 1);
// $color3: hsla(194%, 85%, 21%, 1);
// $color4: hsla(2%, 70%, 53%, 1);
// $color5: hsla(40%, 100%, 67%, 1);

/* RGB */
$maroon: rgba(85, 12, 24, 1);
$blue: rgba(23, 126, 137, 1);
$navy: rgba(8, 76, 97, 1);
$red: rgba(219, 58, 52, 1);
$yellow: rgba(255, 200, 87, 1);


